.todo-item-container {
    background-color: rgba(207, 232, 255, 0.85);
    border: 2px black solid;
    border-radius: 10px;
    padding: 15px;
    margin: 0;

    width: 280px;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.completed {
    background-color: rgba(134, 245, 162, 0.85);
}

.completed h2 {
    color: green;
    text-decoration: line-through;
}

.completed h3 {
    color: green;
    text-decoration: line-through;
}

li {
    font-size: 1.2rem;
    text-align: justify;
    line-height: 1.5;

    margin-bottom: 15px;
}

.todo-description{
    font-size: 1.4rem;
    text-align: center;
    margin: 0;
    margin-bottom: 5px;
}

.todo-quantity{
    font-size: 1.2rem;
    text-align: center;
    font-weight: normal;
    margin: 0;
}


.complete-todo-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.complete-todo-btn {
    border-radius: 0;
    border: 1px black solid;
    border-right: 0;
    padding: 8px 13px;
}

.complete-todo-hover:hover {
    background-color: rgba(134, 245, 162, 0.85);
}

.delete-todo-btn:hover{
    background-color: rgba(245, 134, 134, 0.85);
}

.reset-todo-btn:hover{
    background-color: rgba(162, 179, 252, 0.85);
}

.pending {
    color: red;
    font-weight: bold;
    text-align: center;
    margin-bottom: 12px;
}

.todo-item-btns{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}