.home-container {
    padding: 20px;
}

.loading-gif {
    display: flex;
    justify-content: center;
    height: 70vh;
    margin-top: 20px;
}


.list {
    list-style-type: disc;
    padding: 0;
}

.list a {
    text-decoration: none;
    color: #184b6d;
}

.list a:hover {
    color: aquamarine;
}

@media (max-width: 480px) {
    .home-container {
        padding: 20px 5%;
    }
}