#navbar {
    background-color: rgb(231, 212, 243) !important;
    margin-bottom: 20px;
}

#navbar .navbar-btn {
    font-size: 0.92rem;
}

#navbar .add-list-btn {
    margin-top: 6px;
}

.logout-btn {
    background-color: rgba(255, 152, 152, 1);
    margin-bottom: 15px;
}

.logout-btn:hover {
    background-color: rgba(255, 152, 152, 0.7);
}

@media (min-width: 992px) {
    #navbar .navbar-btn {
        padding: 8px 15px;
        align-self: center;

        border: 0;
        border-radius: 25px;
    }

    #navbar .add-list-btn {
        margin-top: 0;
    }

    .logout-btn {
        margin-left: 6px;
        margin-bottom: 0;
    }

    /*#navbar .add-list-btn p {
        margin: 0;
        padding-bottom: 3px;
    }*/
}