body{
    background-image: url("../img/galaxy.jpg");
    background-size: cover;

    font-family: 'Space Mono', monospace;
}

button {
    padding: 8px;
    border: 1px black solid;

    background-color: whitesmoke;

    font-size: 1.05rem;
    font-family: 'Space Mono', monospace;

    cursor: pointer;
}

button:hover{
    background-color: rgba(199, 223, 255, 0.85);
}

input{
    padding: 8px;
    border: 1px black solid;
    border-right: 0;
    
    font-size: 1.05rem;
    font-family: 'Space Mono', monospace;

    text-align: center;
}

p{
    margin: 8px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

