body{
    background-image: url("../img/galaxy.jpg");
    background-size: cover;

    font-family: 'Space Mono', monospace;
}

button {
    padding: 8px;
    border: 1px black solid;

    background-color: whitesmoke;

    font-size: 1.05rem;
    font-family: 'Space Mono', monospace;

    cursor: pointer;
}

button:hover{
    background-color: rgba(199, 223, 255, 0.85);
}

.btn-hover-red:hover {
    background-color: rgb(255, 104, 104);
}

input{
    padding: 8px;
    border: 1px black solid;
    border-right: 0;
    
    font-size: 1rem;
    font-family: 'Space Mono', monospace;

    text-align: center;
}

p{
    margin: 8px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

.page-title {
    font-size: 2rem;
    margin: 0;
}

@media (max-width: 480px) {
    .page-title {
        font-size: 1.8rem;
    }
}
